    #main{
      
      background: linear-gradient(90deg, lightblue 20%, silver 50%, white 100%);
      min-height: 300px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      
      grid-gap: 30px;
      grid-template-areas:
        "titulo"
        "subtitulo"
        "foto"
        "content"
        "footer";
    }
  
    
    #img-div{
      height: 500px;
      width: auto;
      display: block;
      grid-area: foto;
    }
    #image{
      color:black;
      margin: auto;
      height: 200px ;
      width: auto;
      max-width: 300px;
      height: auto;
      display: block;
    }
  
    #title{
    font-family: system-ui;
      font-size: 4em;
    text-align: center;
    grid-area: titulo;
    
    color: black;
      line-height: 0.3em;
    }
    #subtitle{
    font-family: system-ui;
    text-align: center;
    font-size: 1.5em;
    line-height: 0.3em;
    grid-area: subtitulo;
    color: black;
    }
  #img-caption{
      color: black;
      text-align: center;
      width: auto;
    }
    #tribute-info{
      
      width:700px;
      margin:0 auto;
      text-align:left;
      line-height: 35px;
      grid-area: content;
    }
    #tribute-link{
      grid-area: footer;
      
      
    }
    
    
  