.container{
    filter: contrast(20);
    background-color: rgb(255, 255, 255);
}

.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 140, 255);
    margin: 80px;
    
    filter: blur(20px);
}
.caja:first-child{
    animation: gota 1.4s alternate infinite;
    border-radius: 50% 50%  50% 50%;
    
}
@keyframes gota{
    0%{
        transform:  translateY(0);
    }
    100%{
        transform: translateY(220px);
    }
}