.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    background: rgb(0, 110, 255);
    flex-basis: 60px;
}
.main{
    background: rgb(120, 18, 160);
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
}
.aside{
    background: rgb(129, 81, 19);
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}
.footer{
    background: crimson;
    flex-grow: 1;
}
@media  screen and (min-width:700px) {
    
    .content{
        display: grid;
        
        /*grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer"
        ;*/
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 80px repeat(4, 1fr) 80px;
    }
    .main{
        /*grid-area: main;*/
        grid-column: 1/3;
        grid-row: 2/6;
    }
    .aside{
        /*grid-area: aside;*/
        grid-column: 3/4;
        grid-row: 2/6;
    }
    .header{
        /*grid-area: header*/
        grid-column: 1/4;
    }
    .footer{
        /*grid-area: footer*/
        grid-row: 6/7;
        grid-column: 1/4;
    }
}