.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header, .main, .aside, .footer{
    padding: 20px;
}
.header{
    background: rgb(0, 110, 255);
    flex-basis: 60px;
}
.main{
    background: rgb(120, 18, 160);
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
}
.aside{
    background: rgb(129, 81, 19);
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}
.footer{
    background: crimson;
    flex-grow: 1;
}
@media  screen and (min-width:700px) {
    
    .content{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main{
        height: 100%;
        flex-grow: 4;
    }
    .aside{
        height: 100%;
        flex-grow: 1;
    }
    .header{
        flex-basis: 100vw;
        max-height: 60px;
    }
    .footer{
        flex-basis: 100vw;
        max-height: 60px;
    }
}