body{
    background: radial-gradient(rgb(0, 238, 12) ,rgb(6, 9, 241));
    background-repeat: no-repeat;
    background-size: 100vh;
    background-size: 100vw;
    background-attachment: fixed;
}
.container{
    padding: 20px 5px;
    background: #009;
}
.caja{
    background: radial-gradient(#999, #444);
    width: 80px;
    height: 80px;
    transition: transform 1s;
    display: flex;
    
}
b{
    margin: auto;
}
.caja:hover{
    box-shadow: 10px 10px 10px black;
    /*transform: scale(2) skew(360deg) translate(50px ,50px);
    */transform: rotate(360deg);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

